<div class="ocs-panel-style" *ngIf="initiativeInfo?.objectives">
    <div tabindex="-1" class="ocs-initiative">
        <div class="default-logo">
            <img id="main-logo" [src]="initiativeInfo.initiativeLogo" alt="">
        </div>
        <div id="initiative-objectives" class="ocs-block-content mt-3">
            <h3 class="ocs-label-content">Objectives</h3>
            <div id="initiativeDetails" class="ocs-summary-content">
                <p *ngFor="let objective of initiativeInfo.objectives; index as index">
                    {{objective}}
                    <span *ngIf="index != initiativeInfo.objectives.length-1">
                        <br> <br>
                    </span>
                </p>
            </div>
        </div>
        <div id="initiative-address" class="ocs-block-content">
            <h3 class="ocs-label-content"> Webpage of the initiative in the European Commission's register
            </h3>
            <div class="ocs-summary-content">
                <a id="webpage" tabindex="-1" [attr.href]="initiativeInfo.commissionWebpage"
                    [attr.title]="'You will be redirected to the external page: ' +  initiativeInfo.commissionWebpage">
                    {{initiativeInfo.commissionWebpage}}
                    <i aria-hidden="true" aria-labelledby="webpage" class="fa fa-external-link"
                        [attr.aria-label]="'You will be redirected to the external page: ' + initiativeInfo.commissionWebpage"></i>
                </a>
            </div>
        </div>
        <div id="showedinfo" aria-live="polite" *ngIf="moreInfoVisible">
            <div class="ocs-block-content">
                <div id="description-title" class="ocs-label-content">
                    Website of this initiative (if any):
                </div>
                <div class="ocs-summary-content" *ngIf="initiativeInfo.initiativeWebsite">
                    <a id="description-url" [attr.href]="initiativeInfo.initiativeWebsite"
                        [attr.title]="'You will be redirected to the external page: ' + initiativeInfo.initiativeWebsite">
                        {{initiativeInfo.initiativeWebsite}}
                        <i aria-hidden="true" aria-labelledby="description-url" class="fa fa-external-link"
                            [attr.aria-label]="'You will be redirected to the external page: ' + initiativeInfo.initiativeWebsite">
                        </i>
                    </a>
                </div>
            </div>
            <div class="ocs-block-content">
                <div id="contact-person" class="ocs-label-content mb-2"
                    *ngIf="initiativeInfo.contactRep || initiativeInfo.contactSub">
                    Contact persons
                </div>
                <div class="ocs-summary-content mb-3" *ngIf="initiativeInfo.contactRep">
                    <p id="initiative-rep">{{initiativeInfo.contactRep.name}}</p>
                    <a id="rep-email" [attr.href]="'mailto:' + initiativeInfo.contactRep.email"
                        [attr.title]="'You will be redirected to the external page: ' + initiativeInfo.contactRep.email">
                        {{initiativeInfo.contactRep.email}}
                        <i aria-hidden="true" aria-labelledby="rep-email" class="fa fa-external-link"
                            [attr.aria-label]="'You will be redirected to the external page: ' + initiativeInfo.contactRep.email"></i>
                    </a>
                </div>
                <div class="ocs-summary-content mb-3" *ngIf="initiativeInfo.contactSub">
                    <p id="initiative-sub">{{initiativeInfo.contactSub.name}}</p>
                    <a id="sub-email" [attr.href]="'mailto:' + + initiativeInfo.contactSub.email"
                        [attr.title]="'You will be redirected to the external page: ' + initiativeInfo.contactSub.email">
                        {{initiativeInfo.contactSub.email}}
                        <i aria-hidden="true" aria-labelledby="sub-email" class="fa fa-external-link"
                            [attr.aria-label]="'You will be redirected to the external page: ' + initiativeInfo.contactSub.email"></i>
                    </a>
                </div>
                <div id="reg-number" class="ocs-label-content mt-4">
                    <span>Registration number</span>
                </div>
                <div id="reg-number-value" class="ocs-summary-content mb-3">
                    <span class="mb-1">{{initiativeInfo.registrationNumber}}</span>
                </div>
                <div id="start-period" class="ocs-label-content mt-4">
                    <span class="ocs-label-content mt-4">
                        Start of the collection period
                    </span>
                </div>
                <div id="start-period-value" class="ocs-summary-content mb-3">
                    <span class="mb-1">{{initiativeInfo.registrationDate}}</span>
                </div>
            </div>
        </div>
        <div class="ocs-block-show mt-2">
            <ux-button>
                <span *ngIf="moreInfoVisible" (click)="toggleMoreInfo()">
                    <span aria-hidden="true">-</span>Hide more info
                </span>
                <span *ngIf="!moreInfoVisible" (click)="toggleMoreInfo()">
                    <span aria-hidden="true">+</span>Show more info
                </span>
            </ux-button>
        </div>
    </div>
</div>