.ux-panel {
    margin-bottom: 1rem;
}

.ux-panel-item {
    background: url(https://eci.ec.europa.eu/024/public/bg-dark-blue.3afab2b7a8b8bbfa.svg) top left no-repeat;
    background-size: cover;
}

.ux-panel-content {
    padding: 1rem;
    position: relative;
}

.ux-panel-content h2 {
    color: #fff;
    fill: #fff;
}