<h1 class="full">
    <a routerlink="/screen/home" class="ocs-title-header" href="#/screen/home" (click)="$event.preventDefault()">
        EUROPEAN CITIZENS’ INITIATIVE - Central online collection system</a>
</h1>
<div ux-panel title="">
    <div class="ux-panel" data-e2e="ux-panel">
        <div class="ux-panel-item ux-panel-item--no-header">
            <div aria-live="polite" class="ux-panel-content" style="max-height: none;/* display: none; */">
                <h2 id="titleInitiative">Win It On The Pitch </h2>
            </div>
        </div>
    </div>
</div>