<div class="threshhold-graph">
    <ux-carousel-items>
        <ux-carousel-item *ngFor="let item of carouselItems" [isActive]="item.active">
            <h3>{{item.country}}</h3>
            <div class="graph">
                <svg height="20" width="20" viewBox="0 0 20 20">
                    <defs>
                        <radialGradient id="radial1" gradientTransform="translate(-1.5 -1) scale(3, 3)">
                            <stop offset="51%" stop-color="#4299e1"></stop>
                            <stop offset="63.25%" stop-color="rgba(146, 116, 232, 0.75)"></stop>
                            <stop offset="75.5%" stop-color="rgba(192, 70, 207, 0.5)"></stop>
                            <stop offset="100%" stop-color="rgba(177, 56, 94, 0)"></stop>
                        </radialGradient>
                        <radialGradient id="radial2" gradientTransform="translate(0 -0.4) scale(3, 3)">
                            <stop offset="43%" stop-color="#38a169"></stop>
                            <stop offset="57.25%" stop-color="rgba(56, 161, 105, 0.75)"></stop>
                            <stop offset="71.5%" stop-color="rgba(56, 161, 105, 0.5)"></stop>
                            <stop offset="100%" stop-color="rgba(56, 161, 105, 0)"></stop>
                        </radialGradient>
                    </defs>
                    <circle r="10" cx="10" cy="10" fill="#ddd" />
                    <circle r="5" cx="10" cy="10" fill="transparent" stroke="url(#radial1)" stroke-width="10"
                        [attr.stroke-dasharray]="getSvgStrokeDashery(item.supporters, item.maxSupporters)"
                        transform="rotate(-90) translate(-20)" />
                    <circle r="5" cx="10" cy="10" fill="transparent" stroke="url(#radial2)" stroke-width="10"
                        [attr.stroke-dasharray]="getSvgStrokeDashery(item.supporters, item.maxSupporters)"
                        transform="rotate(-90) translate(-20)" />
                    <circle r="8" cx="10" cy="10" fill="white" />
                </svg>
            </div>
            <p>{{getPercent(item.supporters, item.maxSupporters)}}% of threshold for this country
                ({{item.supporters}} / {{item.maxSupporters}})</p>

        </ux-carousel-item>
    </ux-carousel-items>
    <div class="all-countries">
        <a href="https://eci.ec.europa.eu/020/public/#/screen/home/allcountries">View all countries</a>
    </div>

</div>