<div class="border-form-initiative ocs-form-initiative initiative-form">
    <div>
        <button class="ocs-arrow-back " (click)="onBack()">
            <i aria-hidden="true" class="fa fa-arrow-left"></i> Back </button>

        <h2 id="initiativeTitle" class="ocs-form-initiative-title">
            Support this initiative proposed by European Union citizens</h2>
    </div>
    <div class="ocs-country-selected ">
        <p>Your country of nationality</p>
        <p class="highlighted">{{country.name}}</p>
    </div>
    <form [formGroup]="initiativeForm" (ngSubmit)="onSubmit()">
        <div>
            <p class="ocs-message-info ">Please provide the following data.</p>
            <p class="ocs-message-info ">
                Why? Once the collection is over, your statement of support
                needs to be verified by the competent authorities of your country. They have requested a specific
                set of personal data, as described in the
                <a href="https://eur-lex.europa.eu/legal-content/en/TXT/PDF/?uri=CELEX:32019R0788" class="dgtc-link"
                    target="_blank">ECI Regulation</a>.
                Your personal data are
                <a href="https://europa.eu/citizens-initiative/privacy-policy-concerning-signatories-personal-data-collected-using-central-online-collection_en"
                    class="dgtc-link" target="_blank">duly protected</a>.
            </p>
            <p class="ocs-message-required ">All fields are mandatory</p>

        </div>
        <fieldset class="mb-3 ocs-form-document ">
            <legend>Personal identification</legend>
            <div app-document-property>
                <ux-form-group styleClass="pos-relative pad-0">
                    <label class="col-12 form-control-label" for="legal-document"> Document or number type </label>
                    <select id="legal-document" formControlName="legalDocument"
                        class="form-control custom-select-1 eui-select">
                        <option *ngFor="let document of country.documentOptions" [attr.value]="document.code">
                            {{document.name}}
                        </option>
                    </select>
                </ux-form-group>
                <ux-form-group styleClass="pos-relative pad-0">
                    <label class="col-12 form-control-label" for="document-id"> Number </label>
                    <div class="col-12">
                        <input id="document-id" formControlName="documentId" type="text">
                    </div>
                    <div class="errors" *ngIf="documentId.touched && documentId.invalid">
                        <p *ngIf="documentId.errors.required">The number is required.</p>
                        <p *ngIf="documentId.errors.pattern">The document number contains forbidden characters.</p>
                        <p *ngIf="documentId.errors.minlength">The document number should be at least
                            {{documentId.errors.minlength.requiredLength}} characters long.</p>
                        <p *ngIf="documentId.errors.maxlength">The document number should be shorter than
                            {{documentId.errors.maxlength.requiredLength}} characters.</p>

                    </div>
                </ux-form-group>
            </div>
        </fieldset>
        <fieldset class="mb-3 ocs-form-personal ">
            <legend>Personal information</legend>
            <ux-form-group styleClass="pos-relative pad-0">
                <label class="col-12 form-control-label" for="first-name"> Full first names </label>
                <input formControlName="firstName" id="first-name" class="eui-input-text">
                <div class="errors" *ngIf="firstName.touched && firstName.invalid">
                    <p *ngIf="firstName.errors.required">The first name is required.</p>
                    <p *ngIf="firstName.errors.pattern">The first name contains forbidden characters.</p>
                    <p *ngIf="firstName.errors.minlength">The first name should be at least
                        {{firstName.errors.minlength.requiredLength}} characters long.</p>
                    <p *ngIf="firstName.errors.maxlength">The first name should be shorter than
                        {{firstName.errors.maxlength.requiredLength}} characters.</p>
                </div>
            </ux-form-group>
            <ux-form-group styleClass="pos-relative pad-0">
                <label class="col-12 form-control-label " for="last-name"> Family names </label>
                <input formControlName="lastName" id="last-name" class="eui-input-text">
                <div class="errors" *ngIf="lastName.touched && lastName.invalid">
                    <p *ngIf="lastName.errors.required">The last name is required.</p>
                    <p *ngIf="lastName.errors.pattern">The last name contains forbidden characters.</p>
                    <p *ngIf="lastName.errors.minlength">The last name should be at least
                        {{lastName.errors.minlength.requiredLength}} characters long.</p>
                    <p *ngIf="lastName.errors.maxlength">The last name should be shorter than
                        {{lastName.errors.maxlength.requiredLength}} characters.</p>
                </div>
            </ux-form-group>
        </fieldset>

        <fieldset class="form-group" formGroupName="dateOfBirth">
            <ux-form-group>
                <label class="col-12 form-control-label" for="dateOfBirth"> Date of birt</label>
                <div class="day">
                    <select euiselect formControlName="day" name="day" id="day" aria-label="Day"
                        class="form-control custom-select-1 eui-select">
                        <option value="">Day</option>
                        <option *ngFor="let day of daysInOneMonth" [value]="day">{{day}}</option>
                    </select>
                </div>
                <span class="date-separator">/</span>
                <div class="month">
                    <select euiselect formControlName="month" name="month" id="month" aria-label="Month"
                        class="form-control custom-select-1 eui-select">
                        <option value="">Month</option>
                        <option *ngFor="let month of monthsInOneYear; let index = index" [value]="index + 1">{{month}}
                        </option>
                    </select>
                </div>
                <span class="date-separator">/</span>
                <div class="year">
                    <select euiselect formControlName="year" name="year" id="year" aria-label="Year"
                        class="form-control custom-select-1 eui-select">
                        <option value="">Year</option>
                        <option *ngFor="let year of selectableYears" [value]="year">{{year}}</option>
                    </select>
                </div>

            </ux-form-group>
            <div class="errors"
                *ngIf="(day.touched && day.invalid) || (month.touched && month.invalid) || (year.touched && year.invalid)">
                <p *ngIf="day?.errors?.required || month?.errors?.required || year?.errors?.required">
                    The date is required.
                </p>
                <p *ngIf="day.errors?.under18 || month.errors?.under18 || year.errors?.under18">The age must be over 18</p>
            </div>
        </fieldset>

        <fieldset class="mb-3 ocs-form-legal ">
            <div class="form-group" *ngIf="!country.hasEID">
                <input id="certify" formControlName="certify" name="certify" type="checkbox" class="form-control">
                <label for="certify" class="label-flex eui-label">
                    I hereby certify that the information that I have provided in this form is correct and that
                    I have not already supported this initiative.</label>
                <div class="errors" *ngIf="certify.touched && certify.invalid">
                    <p *ngIf="certify.errors.required">This box needs to be checked.</p>
                </div>
            </div>

            <div class="form-group" *ngIf="!country.hasEID">
                <input id="statement" formControlName="statement" name="statement" type="checkbox" class="form-control">
                <label for="statement" class="label-flex eui-label">
                    I have read the
                    <a href="https://europa.eu/citizens-initiative/privacy-policy-concerning-signatories-personal-data-collected-using-central-online-collection_en"
                        target="_blank" title="Read the privacy statement">Privacy statement</a>
                    and the content of this
                    <a href="https://europa.eu/citizens-initiative/initiatives/details/2022/000003"
                        target="_blank">citizens’
                        initiative</a>.</label>
                <div class="errors" *ngIf="statement.touched && statement.invalid">
                    <p *ngIf="statement.errors.required">This box needs to be checked.</p>
                </div>
            </div>

            <div class="mt-5 mb-4">
                <ux-block-content>
                    <button id="submit" type="submit" [class.valid]="initiativeForm.valid"
                        class="ocs-button-blue eui-button eui-button--large eui-button--primary eui-button--with-label theme3-color text-deco-none border-none">
                        Support
                    </button>
                </ux-block-content>
            </div>

            <div class="ocs-form-support-legend mt-2">
                To support a European citizens’ initiative, you must:<br>
                1. be a European Union citizen (i.e. a national of an EU country);<br>
                2. be old enough to vote in European Parliament elections or, in the case of some nationalities,
                be 16 years old.<br> →
                <a id="eci-link" target="_blank" href="https://europa.eu/citizens-initiative/faq_en#Giving-support"
                    title="How to sign up to a European citizens’ initiative">
                    More info
                    <i aria-hidden="true" aria-labelledby="eci-link" class="fa fa-external-link"
                        aria-label="How to sign up to a European citizens’ initiative"></i>
                </a>
            </div>
        </fieldset>
    </form>
</div>