
<div app-support>
    <div class="row ocs-prefooter">
        <div class="ocs-prefooter-content">
            <div class="col-md-4 ocs-footer-block"><a id="get-informed" target="_blank" class="first-link"
                    href="https://europa.eu/citizens-initiative/home_en" title="Get informed">
                    <div class="ocs-icon-first-link"></div>
                    <div class="mt-3 ocs-external-link">
                        <p aria-hidden="true"><strong>Get informed</strong></p>
                        <p>about the European Citizens' Initiative <i class="fa fa-external-link"
                                aria-label="common.open-new-windows"></i></p>
                    </div>
                </a></div>
            <div class="col-md-4 ocs-footer-block"><a id="sign-up" target="_blank" class="second-link"
                    href="https://europa.eu/citizens-initiative/faq_en#Giving-support" title="How to sign up">
                    <div class="ocs-icon-second-link"></div>
                    <div class="mt-3 ocs-external-link">
                        <p aria-hidden="true"><strong>How to sign up</strong></p>
                        <p>to a European citizens' initiative <i class="fa fa-external-link"
                                aria-label="common.open-new-windows"></i></p>
                    </div>
                </a></div>
            <div class="col-md-4 ocs-footer-block"><a id="what-next" target="_blank" class="last-link"
                    href="https://europa.eu/citizens-initiative/how-it-works_en" title="What">
                    <div class="ocs-icon-last-link"></div>
                    <div class="mt-3 ocs-external-link">
                        <p aria-hidden="true"><strong>What</strong></p>
                        <p>happens next? <i class="fa fa-external-link" aria-label="common.open-new-windows"></i></p>
                    </div>
                </a></div>
        </div>
    </div>
</div>
