<official-notification></official-notification>
<eui-app>
    <eui-app-header role="banner" class="eui-app-header">
        <eui-header class="eui-header">
            <eui-header-logo id="logo-eu" class="logo-header eui-header-logo"><a class="logo" href="#/"></a>
            </eui-header-logo>
            <div class="eui-header-logo-wrapper">

            </div>
            <div class="eui-header-right-content">
                <eui-language-selector styleclass="eui-header__language-selector" aria-disabled="false"
                    class="eui-header__language-selector eui-language-selector">
                    <a class="eui-language-selector-link"><span
                            class="eui-language-selector-link__icon eui-icon eui-icon-language-selector"></span><span
                            class="eui-language-selector-link__language-code"> en </span></a>

                </eui-language-selector>
            </div>
        </eui-header>
    </eui-app-header>
    <eui-app-footer role="contentinfo" class="eui-app-footer">
        <eui-footer euiprimary="" aria-disabled="false" class="eui-footer eui-footer--primary">
            <ul>
                <li>
                    <a id="privacy-link" target="_blank"
                        href="https://europa.eu/citizens-initiative/privacy-policy-concerning-signatories-personal-data-collected-using-central-online-collection_en">Privacy
                        statement
                        <i class="fa fa-external-link" aria-label="common.open-new-windows"></i>
                    </a>
                </li>
                <li>Central Online Collection System 10.7.7</li>
            </ul>
        </eui-footer>
    </eui-app-footer>
</eui-app>