<div class="border-form-initiative ocs-form-initiative initiative-form">
    <div>
        <button class="ocs-arrow-back ">
            <i aria-hidden="true" class="fa fa-arrow-left"></i> Back </button>

        <h2 id="initiativeTitle" class="ocs-form-initiative-title">
            Support this initiative proposed by European Union citizens</h2>
    </div>
    <div class="ocs-country-selected ">
        <p>Your country of nationality</p>
        <p class="highlighted">Romania</p>
    </div>
    <form novalidate="" aria-labelledby="initiativeTitle">
        <p class="ocs-message-info ">Please provide the following data.</p>
        <p class="ocs-message-info ">
            Why? Once the collection is over, your statement of support
            needs to be verified by the competent authorities of your country. They have requested a specific
            set of personal data, as described in the
            <a href="https://eur-lex.europa.eu/legal-content/en/TXT/PDF/?uri=CELEX:32019R0788" class="dgtc-link"
                target="_blank">ECI Regulation</a>.
            Your personal data are
            <a href="https://europa.eu/citizens-initiative/privacy-policy-concerning-signatories-personal-data-collected-using-central-online-collection_en"
                class="dgtc-link" target="_blank">duly protected</a>.
        </p>
        <p class="ocs-message-required ">All fields are mandatory</p>

        <fieldset class="mb-3 ocs-form-document ">
            <legend>Personal identification</legend>
            <div app-document-property>
                <ux-form-group id="documentType" styleClass="pos-relative pad-0">
                    <label class="col-12 form-control-label" for="documentType">
                        Document or number type
                    </label>
                    <div class="col-12">
                        <ux-form-control>
                            <select>
                                <option value="passport">pașaport</option>
                                <option value="id.card">carte de identitate
                                </option>
                                <option value="personal.id">Cod Numeric Personal</option>
                            </select>
                        </ux-form-control>
                    </div>
                </ux-form-group>
                <ux-form-group id="document" styleClass="pos-relative pad-0">
                    <label class="col-12 form-control-label" for="document">
                        Number
                    </label>
                    <div class="col-12">
                        <input type="text">
                    </div>
                </ux-form-group>
            </div>
        </fieldset>
        <fieldset class="mb-3 ocs-form-personal ">
            <legend>Personal information</legend>
            <div app-property>
                <ux-form-group  styleClass="pos-relative pad-0">
                    <div class="ux-form-group ux-form-group--vertical ux-form-group__input-group"
                        data-e2e="ux-form-group"><label class="col-12 ux-form-group__label-wrapper form-control-label "
                            for="">
                            <span class="ux-form-group__label ">Full first names</span>
                        </label>

                        <div class="col-12">
                            <div class="ux-form-group__input-content">
                                <div><input euiinputtext="" aria-disabled="false" id="full.first.names"
                                        class="eui-input-text ng-untouched ng-pristine  ">
                                </div>
                            </div>
                        </div>
                    </div>
                </ux-form-group>
            </div>

            <div app-property>
                <ux-form-group  styleClass="pos-relative pad-0">
                    <div class="ux-form-group ux-form-group--vertical ux-form-group__input-group"
                        data-e2e="ux-form-group"><label class="col-12 ux-form-group__label-wrapper form-control-label "
                            for="">
                            <span class="ux-form-group__label ">Family names</span>
                        </label>
                        <div class="col-12">
                            <div class="ux-form-group__input-content">
                                <div><input euiinputtext="" aria-disabled="false" id="family.names"
                                        class="eui-input-text ng-untouched ng-pristine  ">
                                </div>
                            </div>
                        </div>
                    </div>
                </ux-form-group>
            </div>
        </fieldset>

        <fieldset class="mb-3 ocs-form-legal ">
            <legend class="hidden">Privacidad</legend>
            <div id="certifyL" class="form-group"><input euiinputtext="" id="certify" name="certify" type="checkbox"
                    class="form-control eui-input-text ng-untouched ng-pristine " aria-disabled="false">
                <label euilabel="" for="certify" class="label-flex eui-label" aria-disabled="false">
                    I hereby certify that the information that I have provided in this form is correct and that
                    I have not already supported this initiative.</label>
            </div>
            <div id="privacyL" class="form-group "><input euiinputtext="" id="privacy" name="privacy" type="checkbox"
                    class="form-control eui-input-text ng-untouched ng-pristine " aria-disabled="false">
                <label euilabel="" for="privacy" class="label-flex eui-label" aria-disabled="false">
                    I have read the
                    <a href="https://europa.eu/citizens-initiative/privacy-policy-concerning-signatories-personal-data-collected-using-central-online-collection_en"
                        target="_blank" title="Read the privacy statement">Privacy statement</a>
                    and the content of this
                    <a href="https://europa.eu/citizens-initiative/initiatives/details/2022/000003"
                        target="_blank">citizens’ initiative</a>.</label>
            </div>
            <ux-block-content>
                <div class="ux-block-content" data-e2e="ux-block-content">
                    <div class="mb-4 pt-2 ">
                        <a id="submit" href="javascript:void(0)"
                            class="ocs-button-blue eui-button eui-button--large eui-button--primary eui-button--with-label theme3-color text-deco-none border-none">
                            <span class="a-span-content ux-button__content">Support</span>
                        </a>
                    </div>
                </div>
            </ux-block-content>
            <div class="ocs-form-support-legend mt-2">
                To support a European citizens’ initiative, you must:<br>
                1. be a European Union citizen (i.e. a national of an EU country);<br>
                2. be old enough to vote in European Parliament elections or, in the case of some nationalities,
                be 16 years old.<br> →
                <a id="eci-link" target="_blank" href="https://europa.eu/citizens-initiative/faq_en#Giving-support"
                    title="How to sign up to a European citizens’ initiative">
                    More info
                    <i aria-hidden="true" aria-labelledby="eci-link" class="fa fa-external-link"
                        aria-label="How to sign up to a European citizens’ initiative"></i>
                </a>
            </div>
        </fieldset>
    </form>
</div>