<initiavive-title></initiavive-title>


<div id="skipLinkPath" class="row ng-star-inserted">
    <div class="col-md-5 padding-container ocs-container-left">
        <initiative-info></initiative-info>
        <div app-signatories _nghost-yrh-c200="">
            <section _ngcontent-yrh-c200="" class="ocs-box-padd">
                <div _ngcontent-yrh-c200="" class="ocs-signature ng-star-inserted">
                    <div _ngcontent-yrh-c200="" class="ocs-progress-bar"><i _ngcontent-yrh-c200="" aria-hidden="true"
                            class="fa fa-user"></i>
                        <h3 _ngcontent-yrh-c200="" class="ocs-title-label-inline"> Signatures collected online </h3>
                        <div _ngcontent-yrh-c200="" class="progress mb-2">
                            <div _ngcontent-yrh-c200="" aria-live="polite" role="progressbar" aria-valuemin="0"
                                aria-valuemax="100" class="progress-bar" aria-valuenow="3" style="width: 3%;"></div>
                        </div>
                    </div>
                    <div _ngcontent-yrh-c200="" class="ocs-progress-bar-data">
                        <div _ngcontent-yrh-c200="" aria-label="Current number of signatories 33,944"> 33,944 </div> /
                        <div _ngcontent-yrh-c200="" aria-label="Total number of signatories 1,000,000"> 1,000,000 </div>
                    </div>
                </div>
                <!---->
                <div _ngcontent-yrh-c200="" id="end-period" class="ocs-signature"><i _ngcontent-yrh-c200=""
                        aria-hidden="true" class="fa fa-clock-o"></i><span _ngcontent-yrh-c200="" class="ocs-label"> End
                        of the collection period:</span><span _ngcontent-yrh-c200="" class="ocs-font-16">
                        05/06/2023</span></div>
                <div _ngcontent-yrh-c200="" class="ocs-signature">
                    <div _ngcontent-yrh-c200="" class="flex-container"><a _ngcontent-yrh-c200="" target="_blank"
                            class="icon-facebook ng-star-inserted" href="https://www.facebook.com/EndTheSlaughterAge"
                            title="Visit our Facebook page"><img _ngcontent-yrh-c200=""
                                src="assets/img/icon-facebook.png" alt="Facebook"></a>
                        <!---->
                        <!----><a _ngcontent-yrh-c200="" target="_blank" class="icon-instagram ng-star-inserted"
                            href="https://www.instagram.com/endtheslaughterage/" title="Visit our Instagram page"><img
                                _ngcontent-yrh-c200="" src="assets/img/instagram.png" alt="Instagram"></a>
                        <!---->
                        <!---->
                    </div>
                </div>
            </section>
        </div>
        <div app-carrousel class="ng-star-inserted">
            <section>
                <div id="carouselCountries" class="ocs-box-padd">
                    <ux-carousel-items class="ng-tns-c160-4 ng-star-inserted">
                        <div role="application" class="ux-carousel-items ng-tns-c160-4" data-e2e="ux-carousel-items">
                            <div class="ux-carousel-items__content ng-tns-c160-4"><span
                                    class="eui-icon eui-icon-caret-left eui-icon-3x ux-carousel-items__arrow ng-tns-c160-4 ux-carousel-items__arrow--inactive"></span>
                                <div class="col ng-tns-c160-4 ng-trigger ng-trigger-slide">
                                    <ul aria-live="polite" class="ng-tns-c160-4">
                                        <ux-carousel-item tabindex="-1" class="ng-star-inserted" style="">
                                            <li data-e2e="ux-carousel-item" class="ng-star-inserted">
                                                <p class="ocs-title-carousel">Italy</p>
                                                <div class="ocs-circle">
                                                    <ux-progress-circle
                                                        aria-label="0% of threshold for this country (17,938 / 53,580) ">
                                                        <div class="ux-progress-circle-wrapper ux-progress-circle-wrapper-bottom-label"
                                                            tabindex="0" aria-label="" data-e2e="ux-progress-circle">
                                                            <div
                                                                class="p33 ux-progress-circle ux-progress-circle--warning ux-progress-circle--large">
                                                                <!---->
                                                                <div class="ux-progress-circle__left-half-clipper">
                                                                    <div class="ux-progress-circle__first50-bar"></div>
                                                                    <div class="ux-progress-circle__value-bar"></div>
                                                                </div>
                                                            </div>
                                                            <div class="ux-progress-circle__bottom-label ux-progress-circle--large ng-star-inserted"
                                                                style=""><span class="label">33.48% of threshold for
                                                                    this country (17,938 / 53,580) </span></div>
                                                            <!---->
                                                            <!---->
                                                        </div>
                                                    </ux-progress-circle>
                                                </div>
                                            </li>
                                            <!---->
                                        </ux-carousel-item>
                                        <!---->
                                        <ux-carousel-item tabindex="-1" class="ng-star-inserted" style="">
                                            <!---->
                                        </ux-carousel-item>
                                        <!---->
                                        <ux-carousel-item tabindex="-1" class="ng-star-inserted" style="">
                                            <!---->
                                        </ux-carousel-item>
                                        <!---->
                                        <ux-carousel-item tabindex="-1" class="ng-star-inserted" style="">
                                            <!---->
                                        </ux-carousel-item>
                                        <!---->
                                        <ux-carousel-item tabindex="-1" class="ng-star-inserted" style="">
                                            <!---->
                                        </ux-carousel-item>
                                        <!---->
                                        <ux-carousel-item tabindex="-1" class="ng-star-inserted" style="">
                                            <!---->
                                        </ux-carousel-item>
                                        <!---->
                                        <ux-carousel-item tabindex="-1" class="ng-star-inserted" style="">
                                            <!---->
                                        </ux-carousel-item>
                                        <!---->
                                        <ux-carousel-item tabindex="-1" class="ng-star-inserted" style="">
                                            <!---->
                                        </ux-carousel-item>
                                        <!---->
                                        <ux-carousel-item tabindex="-1" class="ng-star-inserted" style="">
                                            <!---->
                                        </ux-carousel-item>
                                        <!---->
                                        <ux-carousel-item tabindex="-1" class="ng-star-inserted" style="">
                                            <!---->
                                        </ux-carousel-item>
                                        <!---->
                                        <ux-carousel-item tabindex="-1" class="ng-star-inserted" style="">
                                            <!---->
                                        </ux-carousel-item>
                                        <!---->
                                        <ux-carousel-item tabindex="-1" class="ng-star-inserted" style="">
                                            <!---->
                                        </ux-carousel-item>
                                        <!---->
                                        <ux-carousel-item tabindex="-1" class="ng-star-inserted" style="">
                                            <!---->
                                        </ux-carousel-item>
                                        <!---->
                                        <ux-carousel-item tabindex="-1" class="ng-star-inserted" style="">
                                            <!---->
                                        </ux-carousel-item>
                                        <!---->
                                        <ux-carousel-item tabindex="-1" class="ng-star-inserted" style="">
                                            <!---->
                                        </ux-carousel-item>
                                        <!---->
                                        <ux-carousel-item tabindex="-1" class="ng-star-inserted" style="">
                                            <!---->
                                        </ux-carousel-item>
                                        <!---->
                                        <ux-carousel-item tabindex="-1" class="ng-star-inserted" style="">
                                            <!---->
                                        </ux-carousel-item>
                                        <!---->
                                        <ux-carousel-item tabindex="-1" class="ng-star-inserted" style="">
                                            <!---->
                                        </ux-carousel-item>
                                        <!---->
                                        <ux-carousel-item tabindex="-1" class="ng-star-inserted" style="">
                                            <!---->
                                        </ux-carousel-item>
                                        <!---->
                                        <ux-carousel-item tabindex="-1" class="ng-star-inserted" style="">
                                            <!---->
                                        </ux-carousel-item>
                                        <!---->
                                        <ux-carousel-item tabindex="-1" class="ng-star-inserted" style="">
                                            <!---->
                                        </ux-carousel-item>
                                        <!---->
                                        <ux-carousel-item tabindex="-1" class="ng-star-inserted" style="">
                                            <!---->
                                        </ux-carousel-item>
                                        <!---->
                                        <ux-carousel-item tabindex="-1" class="ng-star-inserted" style="">
                                            <!---->
                                        </ux-carousel-item>
                                        <!---->
                                        <ux-carousel-item tabindex="-1" class="ng-star-inserted" style="">
                                            <!---->
                                        </ux-carousel-item>
                                        <!---->
                                        <ux-carousel-item tabindex="-1" class="ng-star-inserted" style="">
                                            <!---->
                                        </ux-carousel-item>
                                        <!---->
                                        <ux-carousel-item tabindex="-1" class="ng-star-inserted" style="">
                                            <!---->
                                        </ux-carousel-item>
                                        <!---->
                                        <ux-carousel-item tabindex="-1" class="ng-star-inserted" style="">
                                            <!---->
                                        </ux-carousel-item>
                                        <!---->
                                        <!---->
                                    </ul>
                                </div><span
                                    class="eui-icon eui-icon-caret-right eui-icon-3x ux-carousel-items__arrow ng-tns-c160-4"></span>
                            </div>
                            <!---->
                        </div>
                    </ux-carousel-items>
                    <!---->
                    <div class="ocs-carousel-line"><a id="view-all-countries" href="#/screen/home/allcountries">View all
                            countries</a></div>
                </div>
            </section>
        </div>
        <!---->
        <div app-recent _nghost-yrh-c202="" class="ng-star-inserted">
            <div _ngcontent-yrh-c202="" class="ocs-panel-style padd0">
                <div _ngcontent-yrh-c202="" class="ocs-recents-signatories">
                    <table _ngcontent-yrh-c202="" class="table">
                        <caption _ngcontent-yrh-c202="" class="ocs-title-label ux-u-text-align-center">Recent
                            signatories</caption>
                        <thead _ngcontent-yrh-c202="">
                            <tr _ngcontent-yrh-c202="" class="ocs-hideme">
                                <td _ngcontent-yrh-c202="" id="1"></td>
                                <th _ngcontent-yrh-c202="" scope="col" id="2" class="ocs-noborder"><span
                                        _ngcontent-yrh-c202="" class="ocs-element-hidden">User</span></th>
                                <th _ngcontent-yrh-c202="" scope="col" id="3" class="ocs-noborder"><span
                                        _ngcontent-yrh-c202="" class="ocs-element-hidden">From</span></th>
                                <th _ngcontent-yrh-c202="" scope="col" id="4" class="ocs-noborder"><span
                                        _ngcontent-yrh-c202="" class="ocs-element-hidden">Country</span></th>
                                <th _ngcontent-yrh-c202="" scope="col" id="5" class="ocs-noborder"><span
                                        _ngcontent-yrh-c202="" class="ocs-element-hidden">Date</span></th>
                                <td _ngcontent-yrh-c202="" id="6"></td>
                            </tr>
                        </thead>
                        <tbody _ngcontent-yrh-c202="">
                            <tr _ngcontent-yrh-c202="" class="ng-star-inserted">
                                <td _ngcontent-yrh-c202="" headers="1"></td>
                                <td _ngcontent-yrh-c202="" headers="2"><i _ngcontent-yrh-c202="" aria-hidden="true"
                                        class="fa fa-user"></i><span _ngcontent-yrh-c202="" aria-hidden="true"
                                        class="people-signature"> +1</span><span _ngcontent-yrh-c202=""
                                        aria-label="One signature"></span></td>
                                <td _ngcontent-yrh-c202="" headers="3">From</td>
                                <td _ngcontent-yrh-c202="" headers="4"><span _ngcontent-yrh-c202=""
                                        aria-label="Signature of ITALY"> ITALY </span></td>
                                <td _ngcontent-yrh-c202="" headers="5"><span _ngcontent-yrh-c202=""
                                        aria-label="Date signature 12-Oct-2022"> 12-Oct-2022</span></td>
                                <td _ngcontent-yrh-c202="" headers="6"></td>
                            </tr>
                            <tr _ngcontent-yrh-c202="" class="ng-star-inserted">
                                <td _ngcontent-yrh-c202="" headers="1"></td>
                                <td _ngcontent-yrh-c202="" headers="2"><i _ngcontent-yrh-c202="" aria-hidden="true"
                                        class="fa fa-user"></i><span _ngcontent-yrh-c202="" aria-hidden="true"
                                        class="people-signature"> +1</span><span _ngcontent-yrh-c202=""
                                        aria-label="One signature"></span></td>
                                <td _ngcontent-yrh-c202="" headers="3">From</td>
                                <td _ngcontent-yrh-c202="" headers="4"><span _ngcontent-yrh-c202=""
                                        aria-label="Signature of FRANCE"> FRANCE </span></td>
                                <td _ngcontent-yrh-c202="" headers="5"><span _ngcontent-yrh-c202=""
                                        aria-label="Date signature 11-Oct-2022"> 11-Oct-2022</span></td>
                                <td _ngcontent-yrh-c202="" headers="6"></td>
                            </tr>
                            <tr _ngcontent-yrh-c202="" class="ng-star-inserted">
                                <td _ngcontent-yrh-c202="" headers="1"></td>
                                <td _ngcontent-yrh-c202="" headers="2"><i _ngcontent-yrh-c202="" aria-hidden="true"
                                        class="fa fa-user"></i><span _ngcontent-yrh-c202="" aria-hidden="true"
                                        class="people-signature"> +1</span><span _ngcontent-yrh-c202=""
                                        aria-label="One signature"></span></td>
                                <td _ngcontent-yrh-c202="" headers="3">From</td>
                                <td _ngcontent-yrh-c202="" headers="4"><span _ngcontent-yrh-c202=""
                                        aria-label="Signature of ITALY"> ITALY </span></td>
                                <td _ngcontent-yrh-c202="" headers="5"><span _ngcontent-yrh-c202=""
                                        aria-label="Date signature 11-Oct-2022"> 11-Oct-2022</span></td>
                                <td _ngcontent-yrh-c202="" headers="6"></td>
                            </tr>
                            <tr _ngcontent-yrh-c202="" class="ng-star-inserted">
                                <td _ngcontent-yrh-c202="" headers="1"></td>
                                <td _ngcontent-yrh-c202="" headers="2"><i _ngcontent-yrh-c202="" aria-hidden="true"
                                        class="fa fa-user"></i><span _ngcontent-yrh-c202="" aria-hidden="true"
                                        class="people-signature"> +1</span><span _ngcontent-yrh-c202=""
                                        aria-label="One signature"></span></td>
                                <td _ngcontent-yrh-c202="" headers="3">From</td>
                                <td _ngcontent-yrh-c202="" headers="4"><span _ngcontent-yrh-c202=""
                                        aria-label="Signature of FRANCE"> FRANCE </span></td>
                                <td _ngcontent-yrh-c202="" headers="5"><span _ngcontent-yrh-c202=""
                                        aria-label="Date signature 11-Oct-2022"> 11-Oct-2022</span></td>
                                <td _ngcontent-yrh-c202="" headers="6"></td>
                            </tr>
                            <tr _ngcontent-yrh-c202="" class="ng-star-inserted">
                                <td _ngcontent-yrh-c202="" headers="1"></td>
                                <td _ngcontent-yrh-c202="" headers="2"><i _ngcontent-yrh-c202="" aria-hidden="true"
                                        class="fa fa-user"></i><span _ngcontent-yrh-c202="" aria-hidden="true"
                                        class="people-signature"> +1</span><span _ngcontent-yrh-c202=""
                                        aria-label="One signature"></span></td>
                                <td _ngcontent-yrh-c202="" headers="3">From</td>
                                <td _ngcontent-yrh-c202="" headers="4"><span _ngcontent-yrh-c202=""
                                        aria-label="Signature of ITALY"> ITALY </span></td>
                                <td _ngcontent-yrh-c202="" headers="5"><span _ngcontent-yrh-c202=""
                                        aria-label="Date signature 11-Oct-2022"> 11-Oct-2022</span></td>
                                <td _ngcontent-yrh-c202="" headers="6"></td>
                            </tr>
                            <!---->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!---->
    </div>
    <div class="col-md-7 padding-container ocs-container-right">
        <div app-form>
            <div class="ocs-form-initiative">
                <div class="ocs-form-background">
                    <!---->
                    <h2 id="initiativeTitle" class="ocs-form-initiative-title">Support this initiative proposed by
                        European Union citizens</h2>
                </div>
                <!---->
                <!---->
                <!---->
                <form novalidate="" aria-labelledby="initiativeTitle" class="ng-pristine ng-valid ng-touched">
                    <fieldset class="ocs-form-country ng-star-inserted">
                        <legend class="hidden">Select language</legend>
                        <ux-form-group styleclass="mb-2 ocs-form-highlight">
                            <div class="mb-2 ocs-form-highlight ux-form-group ux-form-group--no-label ux-form-group--vertical ux-form-group__input-group"
                                data-e2e="ux-form-group">
                                <!---->
                                <div class="col-12 ux-form-group__label-wrapper form-control-label ng-star-inserted">
                                </div>
                                <!---->
                                <div class="col-12">
                                    <div class="ux-form-group__input-content">
                                        <div><select euiselect="" id="country" name="country"
                                                class="form-control custom-select-1 eui-select ng-pristine ng-valid ng-touched">
                                                <option value="#">Select your country of nationality</option>
                                                <option value="at" class="ng-star-inserted">Austria</option>
                                                <option value="be" class="ng-star-inserted">Belgium</option>
                                                <option value="bg" class="ng-star-inserted">Bulgaria</option>
                                                <option value="hr" class="ng-star-inserted">Croatia</option>
                                                <option value="cy" class="ng-star-inserted">Cyprus</option>
                                                <option value="cz" class="ng-star-inserted">Czechia</option>
                                                <option value="dk" class="ng-star-inserted">Denmark</option>
                                                <option value="ee" class="ng-star-inserted">Estonia</option>
                                                <option value="fi" class="ng-star-inserted">Finland</option>
                                                <option value="fr" class="ng-star-inserted">France</option>
                                                <option value="de" class="ng-star-inserted">Germany</option>
                                                <option value="gr" class="ng-star-inserted">Greece</option>
                                                <option value="hu" class="ng-star-inserted">Hungary</option>
                                                <option value="ie" class="ng-star-inserted">Ireland</option>
                                                <option value="it" class="ng-star-inserted">Italy</option>
                                                <option value="lv" class="ng-star-inserted">Latvia</option>
                                                <option value="lt" class="ng-star-inserted">Lithuania</option>
                                                <option value="lu" class="ng-star-inserted">Luxembourg</option>
                                                <option value="mt" class="ng-star-inserted">Malta</option>
                                                <option value="nl" class="ng-star-inserted">Netherlands</option>
                                                <option value="pl" class="ng-star-inserted">Poland</option>
                                                <option value="pt" class="ng-star-inserted">Portugal</option>
                                                <option value="ro" class="ng-star-inserted">Romania</option>
                                                <option value="sk" class="ng-star-inserted">Slovakia</option>
                                                <option value="si" class="ng-star-inserted">Slovenia</option>
                                                <option value="es" class="ng-star-inserted">Spain</option>
                                                <option value="se" class="ng-star-inserted">Sweden</option>
                                                <!---->
                                            </select>
                                            <!---->
                                        </div>
                                        <!---->
                                        <!---->
                                    </div>
                                </div>
                            </div>
                            <!---->
                            <!---->
                        </ux-form-group>
                    </fieldset>
                    <!---->
                    <!---->
                    <!---->
                    <p></p>
                    <!---->
                    <p></p>
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                </form>
            </div>
        </div>
    </div>
</div>

<info-support></info-support>